.sales_section {
    margin-top: 35px;
}

.sales_section > a {
    text-decoration: none;
    color: black;
}

.sales_section img {
    object-fit: contain;
    width: 318px;
    height: 350px;
}

.sales_section p {
    font-size: 18px;
    font-weight: 500;
    text-align: start;
    margin: 15px 0 20px 0;
}

.price_block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.price_block p:nth-child(1) {
    font-size: 30px;
    font-weight: 600;
    margin-left: 10px;
 }

 .price_block p:nth-child(2) {
    font-size: 20px;
    font-weight: 500;
    color: #8B8B8B;
    text-decoration: line-through;
 }

 .price_block p:nth-child(3) {
    font-size: 20px;
    font-weight: 600;
    color: #FF32A1; 
    margin-right: 40px;  
 }

