.category_card {
    margin: 35px 25px 50px 10px;
    position: relative;
}

.category_card img {
    object-fit: contain;
    width: 300px;
    height: 300px;
}

.product_title {
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    left: -12px;
    margin: 12px 
}

.category_card > a {
    text-decoration: none;
    color: black;
}

.product_price_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_price_block span   {
    font-size: 30px;
    font-weight: 600;
}

.product_price_block span span  {
    font-size: 20px;
    font-weight: 600;
}

.product_price_block p:nth-child(2) {
    font-size: 20px;
    font-weight: 500;
    color: #8B8B8B;
    text-decoration: line-through;
}

 .product_price_block p:nth-child(3) {
    font-size: 20px;
    font-weight: 600;
    color: #FF32A1; 
    margin-right: 40px;  
 }

 .category_card button{
    border: 2px solid #339933;
    border-radius: 18px;
    background-color: rgba(241, 255, 241, 0.9);;
    color: #339933;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 60px;
    width: 90%;
    
    position: absolute;
    bottom: 125px;
    left: 9px;
    display: none;
    cursor: pointer; 
 }

 .category_card:hover button{
   display: block;
 }

 