.cart {
    margin: 0 auto;
    max-width: 1440px;
}

.cart > p{
    font-size: 40px;
    font-weight: 700;
    margin: 50px 0 50px 25px;
}

.cart_clear_back {
    display: flex;
    gap: 520px;
    border-bottom: 1px solid #A7A7A7;
    width: 828px;
    padding-bottom: 35px;
    margin-left: 25px;
}

.cart_clear_back a {
    text-decoration: none;
}

.cart_clear_back a > p {
    color: black;
}

.cart_clear_back p{
    font-size: 20px;
    font-weight: 500;
    color: gray;
    cursor: pointer;
}

.cart_clear_back p span {
    padding: 10px;
}

.cart_end_order {
    display: flex;
    justify-content: space-between;
}

.cart_end_order > p {
    font-size: 18px;
    font-weight: 500;
    color: gray;
    margin: 40px 0 0 25px;
}

.order {
    border: 2px solid black;
    border-radius: 20px;
    padding: 25px;
    width: 496px;
    height: 393px;
    margin-right: 25px;
    position: relative;
}

.order > p {
   font-size: 28px;
   font-weight: 600;
   padding-bottom: 47px;
}

.total_price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 49px;
}

.total_price p:first-child {
    font-size: 24px;
    font-weight: 500;
}

.total_price span   {
    font-size: 35px;
    font-weight: 600;
}

.total_price span span  {
    font-size: 25px;
    font-weight: 600;
}

.order_form {
    display: grid;
    gap: 25px;
    align-items: center;
}

.order_form input{
    width: 446px;
    height: 73px;
    border: 1px solid gray;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 40px;
    outline: none;
}

.btn {
    border: 2px solid #339933;
    background-color: #339933;
    border-radius: 20px;
    font-size: 28px;
    font-weight: 700;
    color: white;
    width: 446px;
    height: 73px;
    cursor: pointer;
}

.btn:hover {
    font-size: 32px;
 } 

.error_message > p {
    background-color: transparent;
    color: rgb(246, 154, 7);
    width: 400px;
 
    position: absolute;
    left: 35px;
    top: 165px;
  }

  