@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Montserrat', sans-serif; 
}

