.categories_section {
    margin: 0 auto;
    max-width: 1440px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.categories_card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; 
}

.categories_section section{
    width: auto;
    height: 150px;
}

.categories_route {
    margin-bottom: 50px;
}

.categories_catalog {
    font-size: 40px;
    font-weight: 700;
    margin-left: 20px;
 }

 .allCategories {
    border: 1px solid #8B8B8B;
    color: #8B8B8B;
    font-size: 12px;
    font-weight: 700;
    width: 110px;
    height: 30px;
    text-align: center;
    margin-left: 90px;
    cursor: pointer;
 }

 .allCategories:hover {
    border: 1px solid black;
    color: black;
 }

