.sales_section {
    margin: 0 auto;
    max-width: 1440px;
    margin-top: 80px;
    margin-bottom: 155px;
}

.sales_card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; 
}

.sales_block {
    font-size: 40px;
    font-weight: 700;
    margin-left: 20px;
    margin-bottom: 55px;
 }

