.footer_container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px; 
    padding: 150px 20px 76px 20px;
    margin: 0 auto;
    max-width: 1440px;
}

.contacts_container {
    position: relative;
    color: #2f3640;
}

.contacts {
    font-size: 40px;
    margin-bottom: 25px;
    font-weight: 700;
}

.telefon {
    font-size: 65px;
    margin-bottom: 35px;
    font-weight: 600;
}

.media_container {
    display: flex;
    text-align: start;
    align-items: center;
    font-size: 15px;
    gap: 70px;
    cursor: pointer;
    margin-top: 88px; 
}

.media_container a {
    text-decoration: none;
    color: #2f3640;
}

.instagram_logo {
    font-size: 15px;
    text-align: center;
    width: 45px;
    height: 45px;

    position: absolute;
    bottom: 35px;
    left: 17px;
    color: #339933;
}

.whatsapp_logo {
    font-size: 15px;
    text-align: center;
    width: 45px;
    height: 45px;

    position: absolute;
    bottom: 35px;
    left: 173px;
    color: #339933;
}

.address_container ul li{
    list-style-type: none;
    color: #2f3640;
}

.address_container li:nth-child(1) {
   font-size: 40px;
   font-weight: 700;
   margin-bottom: 25px;
}

.address_container li:nth-child(2),
.address_container li:nth-child(3) {
    font-size: 40px;
    font-weight: 600;
 }

 .address_container li:nth-child(4) {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    color: gray;
 }

 .address_container li:nth-child(5) {
    font-size: 24px;
    font-weight: 600;
 }


