
.categories img {
    object-fit: cover;
    width: 318px;
    height: 350px;
}

.categories_title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 25px 0 20px 0; 
}

.categories > a {
    text-decoration: none;
    color: black;
}

