.products_page {
    margin: 0 auto;
    max-width: 1440px;
    margin-bottom: 150px;
}

.products_page a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: gray;
} 

.products_page a > p{
    margin-left: 15px;
} 

.products_page > p {
    font-size: 40px;
    font-weight: 700;
    margin: 70px 15px;
} 

.category_products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

