.sales_section {
   background-color: #A1E2EB;
   margin: 76px 0 50px 0;
}

.sales_section > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    background-color: #A1E2EB; 
    margin: 76px 0; 
    max-width: 1440px;
    margin: 0 auto;
}

.sales_section img {
    background-color: transparent;
    width: 850px;
    height: auto;
}

.info_block  {
    background-color: #A1E2EB;  
    margin-left: 30px;
    position: relative;
}

.info_block p:nth-child(1) {
    font-size: 80px;
    background-color: #A1E2EB;  
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: -100px;
 }

 .info_block p:nth-child(2) {
    font-size: 60px;
    background-color: #A1E2EB;  
    font-weight: 700;
    color: #FFFFFF;
 }

 .info_block a {
    font-size: 25px;
    font-weight: 700;
    background-color: #A1E2EB;  
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 13px;
    
    text-align: center; 
    padding: 24px 50px;
    cursor: pointer;
    text-decoration: none; 
    
    position: absolute;
    bottom: -120px;
    left: 0px;  
 }

 .info_block a:hover {
    color: black;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
 }

 .info_block p:nth-child(4) {
    font-size: 25px;
    font-weight: 700;
    width: 225px;
    height: 81px;
    padding: 25px 0px;
    margin-left: -75px;
    
    background-color: #A1E2EB;  
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 13px;
    text-align: center; 

    position: absolute;
    bottom: -120px;
    left: 260px;
 }

 