.sales_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    background-color: #A1E2EB; 
    margin: 76px 0; 
}

.sales_section img {
    background-color: transparent;
    width: 700px;
    height: 579px;
    margin-bottom: 10px;
}

.info_block  {
    background-color: #A1E2EB;  
    margin-left: 50px;
    position: relative;
}

.info_block p:nth-child(1) {
    font-size: 75px;
    background-color: #A1E2EB;  
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: -100px;

 }

 .info_block p:nth-child(2) {
    font-size: 55px;
    background-color: #A1E2EB;  
    font-weight: 700;
    color: #FFFFFF;
 }

 .info_block a {
    font-size: 20px;
    font-weight: 700;
    background-color: #A1E2EB;  
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 13px;
    
    text-align: center; 
    padding: 24px 34px;
    cursor: pointer;
    text-decoration: none; 
    
    position: absolute;
    bottom: -120px;
    left: 0px;  
 }

 .info_block a:hover {
    color: black;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
 }

 .info_block p:nth-child(4) {
    font-size: 21px;
    font-weight: 700;
    width: 225px;
    height: 75px;
    padding: 25px 50px;
    
    background-color: #A1E2EB;  
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 13px;
    text-align: center; 

    position: absolute;
    bottom: -120px;
    left: 260px;
 }
